<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Grids research</title>
  <meta name="description" content="Grids research">
  <meta name="" content="">

  <link rel='stylesheet' href='style.css'></link>

  <script src="papaparse.min.js"></script>
  <script src="introduction.js"></script>

</head>


<body>
  <div id="container">
    <div id="header">
      <p id="yo">Please read the consent form.<br>
      </p>
    </div>
    <div id="content_consent">
      <embed src="InformedConsent.pdf" type="application/pdf" width="100%" height="100%"></embed>
    </div>
    <div id="footer">
      <button id="consent_btn" onclick="signedConsent(0)">I do not consent</button>
      <button id="consent_btn" onclick="signedConsent(1)">I consent</button>
    </div>
  </div>
</body>
</html>
