

/* @font-face {
    font-family: font;
    src: url(sansation_light.woff);
} */

#first_page_container {
	border-radius: 10px;
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	border-radius: 10px;
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

}

/* experiment */
#exp_container {
	border-radius: 10px;
	background-color: #A9A9A9;
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #A9A9A9;
	color: black;
	padding: 0px;
	height: 10%;
	text-align: center;
	margin: 0px;
}

#content {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#left {
	width: 40%;
	float: left;
	text-align: center;

}

#center_div {
	width: 20%;
	height: 10%;
	float: center;
	text-align: center;
	display: inline-block;
  top: 50%;
	padding-top: 16%;
}

#right {
	width: 40%;
	float: right;
	text-align: center;

}

#content_consent {
	clear: both;
	text-align: center;
	padding: 0px;
	height: 800px;
	width: auto;
}

#footer {
	clear: both;
	text-align: center;
	padding: 20px;
	background-color: #A9A9A9;
}

#survey_link {
	border-radius: 5px;
	color: white;
	padding: 20px 50px;
	text-align: center;
	display: inline-block;
	background-color: #808080;
	color: white;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 10px;
}

#header_text_instruction {
	color: white;
	padding: 3px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
}

#intro_text {
	color: black;
	padding: 100px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
}

#fast_lbtn{
	align-items: center;
	justify-content: center;
	display: none;
	/* flex-direction: column; */
}

#fast_rbtn{
	align-items: center;
	justify-content: center;
	display: none;
	/* flex-direction: column; */
}

#experiment_btn_left{
	border-radius: 5px;
	color: white;
	padding: 20px 50px;
	text-align: center;
	display: none;
	background-color: #808080;
	color: white;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
}

#experiment_btn_right{
	border-radius: 5px;
	color: white;
	padding: 20px 50px;
	text-align: center;
	display: none;
	background-color: #808080;
	color: white;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
}

/* the cursor in the middle to focus on*/
#cross {
	width: 40px;
	height: auto;
	display: block;
  margin: auto;

}

#timer {
	height: 80px;
	left: 50%;
	margin-top: -40px;
	margin-left: -100px;
	position: absolute;
	top: 70%;
	width: 200px;
	padding: 5px;

	border-radius: 5px;
	color: white;
	text-align: center;
	background-color: #808080;
	color: white;
	font-size: 15px;

	padding: 20px 50px;
	display: none;

}

#Begin {
	height: 80px;
	left: 50%;
	margin-top: -40px;
	margin-left: -100px;
	position: absolute;
	top: 70%;
	width: 200px;
	padding: 5px;

	border-radius: 5px;
	color: white;
	text-align: center;
	background-color: #808080;
	color: white;
	font-size: 25px;
}

#icon_label {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 180%;
	width: 90%;
	color: black;
	text-align: center;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
	line-height: 1.8;
	font-family: "font", font, sans-serif;


}
#icon_labelA {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

	font-size: 180%;
	width: 95%;
	color: white
	text-align: center;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
	line-height: 1.8;
	font-family: "font", font, sans-serif;
}
#icon_labelB {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

	font-size: 180%;
	width: 95%;
	color: white
	text-align: center;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	display: block;
	line-height: 1.8;
	font-family: "font", font, sans-serif;
}

#fast_practice_instruction_p {
	text-align: left;
}

p {
    	font-family: "font", font, sans-serif;
			font-size: 180%;
			margin-left: 15%;
			margin-right: 15%;
}

#end_of_intruction_text {
	height: 60px;
	left: 50%;
	margin-top: -30px;
	margin-left: -200px;
	position: absolute;
	top: 35%;
	width: 400px;
	color: black;
}

#Next {
	border-radius: 5px;
	color: white;
	padding: 20px 50px;
	text-align: center;
	display: inline-block;
	background-color: #C4C4C4;
	color: white;
	font-size: 35px;
	margin: 30px;
	right:    20;
	bottom:   20;
	font-family: Verdana, Geneva, sans-serif;
}

#consent_btn {
	border-radius: 5px;
	color: white;
	padding: 20px 50px;
	text-align: right;
	display: inline-block;
	background-color: #C4C4C4;
	color: white;
	font-size: 35px;
	margin: 30px;
	right:    20;
	bottom:   20;
	font-family: Verdana, Geneva, sans-serif;
}


button {
  border-radius: 5px;
  color: white;
  padding: 20px 50px;
  text-align: center;
  display: inline-block;
  background-color: #808080;
  color: white;
  font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 10px;

}

/* .clickplz {
    animation:btn 0.2s;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
}

@keyframes btn  {
    0%   {color:#8c8; background-color:#000; text-shadow:0 0 9px rgba(255,255,144,0);}
    50%  {color:#fff; background-color:#0b0; text-shadow:0 0 9px rgba(255,255,144,0.75);}
    100% {color:#8c8; background-color:#C4C4C4; text-shadow:0 0 9px rgba(255,255,144,0);}
}

@-webkit-keyframes btn {
    0%   {color:#8c8; background-color:#000; text-shadow:0 0 9px rgba(255,255,144,0);}
    50%  {color:#fff; background-color:#0b0; text-shadow:0 0 9px rgba(255,255,144,0.75);}
    100% {color:#8c8; background-color:#000; text-shadow:0 0 9px rgba(255,255,144,0);}
} */

body {
  background-color: white;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
	background-color:  	#A9A9A9;
}

img {
	width: 75%;
  height: auto;
}

.div_button {
 padding-top: 20px;
 /* padding-right: 30px;
 padding-bottom: 0px;
 padding-left: 800px; */
 text-align: center;
   font-size: 25px;
}

.div_text  {
 padding-top: 300px;
 /* padding-right: 30px;
 padding-bottom: 0px;
 padding-left: 800px; */
 height: 30px;
 text-align: left;
}


.centerCell {
  text-align: center;
}

.instruction_imgs {
	width: 100%;
	height: auto;
}

.exp_imgs {
	width: 85%;
	height: auto;
	padding: 15px;
}

.secone{

	width: 35%;
	height: 35%;
	padding-left: 10%;
  padding-right: 20px;
	float: left;
	text-align: left;
	display: inline-block;
	font-family: "font", font, sans-serif;
		background-color:  	#A9A9A9;
}

.sectwo{
	width: 35%;
	height: 35%;
	padding-left: 20px;
  padding-right: 10%;
	float: right;
	text-align: left;
	display: inline-block;
	font-family: "font", font, sans-serif;
		background-color:  	#A9A9A9;
}

.s1{

	width: 30%;
	padding-left: 13%;
  padding-right: 10px;
	float: left;
	text-align: right;
	display: hidden;
	font-family: "font", font, sans-serif;
		background-color:  	#A9A9A9;
}

.s2{
	width: 30%;
	height: 35%;
	padding-left: 10px;
  padding-right: 13%;
	float: right;
	text-align: left;
	display: hidden;
	font-family: "font", font, sans-serif;
		background-color:  	#A9A9A9;
}

.s3{
	width: 30%;
	height: 10%;
	padding-top: 15%;
	padding-left: 10px;
  padding-right: 10%;
	float: right;
	text-align: center;
	font-family: "font", font, sans-serif;
	background-color:  	#A9A9A9;
}

@media screen and (max-width: 600px){
body{
	text-align: center;
    color: #C0C0C0;
}


p {
	font-size: 80%;
	width: 95%;
	color: white
	text-align: left;
	padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    line-height: 1.8;
    font-family: "font", font, sans-serif;
}


.points{
	border: 1px solid #000000;
	border-left-color: #ffffff;
	border-right-color: #ffffff;

	border-width: .1px;
	border-spacing: 1px;
	text-align: center;
	font-size: 110%;
	font-style: normal;
	font-weight: bold;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
  	display:block;
  	color: #881c1c;
  	font-family: "font", font, sans-serif;
}

/* .secone{
	font-size: 80%;
	width: 100%;
	padding-left: 0px;
  padding-right: 0px;
	float: left;
	text-align: left;
	display: inline-block;
  background-color: #D3D3D3;
}

.sectwo{
	font-size: 80%;
	width: 100%;
	padding-left: 0px;
    padding-right: 0px;
	float: left;
	text-align: left;
	display: inline-block;
  background-color: #D3D3D3;
} */
}
